<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>About</title>
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="template.html">Testing Documentation</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        </nav>
        <!-- Side Bar Navigation -->
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Navigation</div>
                            <a class="nav-link" href="template.html"
                                ><div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                                Summary</a
                            >
                            <a class="nav-link" href="about.html"
                                ><div class="sb-nav-link-icon"><i class="fas fa-child"></i></div>
                                About</a
                            >
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Powered by:</div>
                        Start Bootstrap 
                        Templates & TDT
                    </div>
                </nav>
            </div>
            <!-- End Side Bar Navigation -->
            <!-- Used content -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">About</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="template.html">Test Plan Summary</a></li>
                            <li class="breadcrumb-item active">About</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-0"> This <code>Testing Documentation Tool</code> was created to change the typical report or summary style, now adding <code>Test Cases</code> is
                                    simplier using the Windows Form Application, just a few clicks and a little of writting and your <code>Test Plan Documentation</code> will be ready to check.</p><br>
                                    <h3>
                                        About the developer
                                        <small class="text-muted">Software Engineer</small>
                                      </h3>
                                    <button onclick="window.location.href = 'https://www.linkedin.com/in/santiago-valle-463130194/';" type="button" class="btn btn-outline-primary">LinkedIn</button>
                                    <button onclick="window.location.href = 'https://github.com/snvc00';" type="button" class="btn btn-outline-dark">GitHub</button>             
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <!-- End Used content -->
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
